<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @library.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @library.source %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
